* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

#park-container {
  /* border: 1px solid orange; */
}

#park-container > div {
  border: 1px solid green;
}
